<%- include("../admin-header"); -%>

<style>
        .input-field div.error {
            position: relative;
            top: -1rem;
            left: 0rem;
            font-size: 0.8rem;
            color: #FF4081;
            -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
            -o-transform: translateY(0%);
            transform: translateY(0%);
        }
        .input-field label.active {
            width: 100%;
        }
        .dataTables_filter {
            display: none
        }
    </style>
<section id="content">
     <!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">Gallery</h5>
                </div>
            </div>
        </div>
    </div>
        <!--breadcrumbs end-->
    <style>
            ul {
                list-style-type: disclosure-closed;
            }
            ul li {
                list-style-type: disclosure-closed;
            }
    </style>

    <!--start container-->
    <div class="container">
        <p class="caption">Add, Edit or Remove Gallery Items.</p>
        <div class="divider"></div>
    </div>
</section>

<%- include("../admin-footer"); -%>